

body {
    background-color: black;
    padding: 0%;
}

.container{
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1210px;
}

.logo{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    font-weight:bold;
    font-size: 1.5rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.logo-icon{
    margin-right: 10px;
    background-color: cyan;
    color: white;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

.logo-text{
    font-weight: bold;
}


.menu{
    display: flex;
    list-style: none;
    gap: 25px;
}

.menu a{
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:white;
    text-decoration: none;
    padding:5px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 8px;
    border: 2px solid cyan;
    
}

ul #anima_1:hover{
    border: 2px solid white;
    color: cyan;
    padding:8px;
    padding-left: 13px;
    padding-right: 13px;
    border-radius: 13px;
    transition: all 0.5s ease;
}

ul #anima_2:hover{
    border: 2px solid white;
    color: cyan;
    padding:5px;
    padding:8px;
    padding-left: 13px;
    padding-right: 13px;
    border-radius: 13px;
    transform: translatey(3px);
    transition: all 0.5s ease;
}

ul #anima_3:hover{
    margin-top: 40px;
    border: 2px solid white;
    color: cyan;
    padding:8px;
    padding-left: 13px;
    padding-right: 13px;
    border-radius: 13px;
    transition: all 0.5s ease;
}

ul #anima_4:hover{
    border: 2px solid white;
    color: cyan;
    padding:8px;
    padding-left: 13px;
    padding-right: 13px;
    border-radius: 13px;
    transition: all 0.5s ease;
}


.section-principal{
    align-items: center;
    padding: 30px;
}

.title-p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-size: 60px;
    align-items: center;
    margin-left: 40%;
}




section {
    border: 2px solid cyan;
    margin: 20px;
    margin-top: 50px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 4px 4px 8px green;
    width: 400px;
    height: 500px;
}

section img {
    width: 65%;
    border-radius: 1%;
}

.sub-section{
    top: -200px;
    left: 30%;
    width: 700px;
   

    
}
h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;

}

p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: gray;
    font-size: 15px;
    padding: 2%;
    height: 170px;
    width: 400px;

}

.sub-title-p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgba(182, 181, 181, 0.726);
    font-size: 17px;
    padding: 1%;
    height: 170px;
    width: 1300px;   
    margin-left: 15%;
}

h2 {
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     color: white;
}

main{
    align-items: center;
    display: flex;
    list-style: none;
    gap: 25px;
    padding-left: 25%;
}

.logo-icon-img{
    width: 70%;
}


